<h1>New Recipe</h1>
<%= form_for @recipe do |f| %>
  <p>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </p>

  <%= f.collection_check_boxes :ingredient_ids, Ingredient.all, :id, :name %>

  <%= f.fields_for :ingredients do |ingredient| %>
    New Ingredient: <%= ingredient.text_field :name %>
  <% end %>


  <%= f.submit %>
<% end %>
